.searchWrapper{
    display: flex;
    width: 100%;
    position: relative;
    border: 1px solid var(--border);
    padding:3px;
    border-radius: var(--button-radius);
    -webkit-border-radius: var(--button-radius);
    -moz-border-radius: var(--button-radius);
    -ms-border-radius: var(--button-radius);
    -o-border-radius: var(--button-radius);
}
.searchWrapper input{
    padding-right: 100px;
    border: none;
}
.searchWrapper button{
    position: absolute;
    right: 2px;
}